.homepageFaqs {
  width: 100%;
  max-width: 940px;
  margin: 50px auto;
  text-align: left;
  ul {
    li {
      list-style: none;
    }
  }
}

.listItems {
  margin-top: 20px;

  .h4 {
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 5px;
    margin: 15px 0 10px;
    color: #666;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    margin: 8px 0;
    img {
      height: 20px;
      width: 20px;
    }
    p {
      line-height: 20px;
      font-size: 18px;
      margin: 0;
      padding: 0;
    }
  }

  .seeAll {
    color: #0092E4;
    cursor: pointer;
    background: 0 0;
    border: none;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    padding: 32px;
    &:hover {
      color: #0092E4;
      background-color: #EFFBFF;
    }
  }
  ul {
    li {
      list-style: disc;
      a {
        // color: #666;
      }
    }
  }
}
